.layout-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background-color: #141317;
  padding: 70px;
  margin: 0 auto;
  min-height: 100vh;
  overflow: visible;
}

.sidebar {
  flex: 1;
  max-width: calc(25% - 40px);
  background-color: #1C1A1E;
  padding: 20px;
  border-radius: 10px;
  height: calc(100vh - 700px); 
  position: relative; 
  z-index: 100; 
}

.sidebar p {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.sidebar-description {
  color: #ccc;
}

.sidebar-description p {
  font-size: 16px;
  line-height: 1.5;
}

.referral-code {
  border: 2px dashed #696969;
  background-color: #2C2A2E;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  border-width: 2px;
  height: 80px;
  text-align: center;
}

.code-info {
  font-size: 36px !important;
  color: #fff !important;
}

.main-content {
  flex: 3;
  max-width: calc(75% - 40px);
  padding: 20px;
  margin-left: 20px;
  min-height: calc(100vh - 140px);
  overflow-y: auto;
}

.main-content p {
  font-size: 36px;
  color: #FFF;
  font-weight: 600;
  margin-bottom:40px;
}

.reward-category {
  margin-bottom: 40px;
}

.main-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
}

.main-item {
  display: flex;
  align-items: center;
  background-color: #1C1A1E;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

.main-item img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.main-item-content {
  flex: 1;
}

.main-item p {
  font-size: 16px;
  margin: 0;
}
.main-item-description p {
  font-size: 16px;
  margin: 0;
  
}

.main-item h2 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.main-item-divider {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 10px 0;
}

.main-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 120px;
  height: 44px;
  background: #D2122E;
  border-radius: 100px;
  border: 0;
  font-family: Inter, sans-serif;
  color: #fff;
  font-weight: 600;
  transition: 200ms;
  border: 2px solid #D2122E;
  background: none;
  cursor: pointer;
  outline: none;
}

.main-item-button.clicked {
  color: transparent; /* "redeem" tekst verstoppen */
  border-radius: 50%; /* cirkel maken van de knop */
  width: 44px; 
  height: 44px; 
  padding: 10px 10px; 
  border-left: 2px solid #D2122E; 
  animation: spin 2s 500ms forwards; /* draai animatie */
}

.check-icon {
  position: absolute;
  color: transparent; /* in eerste instantie transparant */
  transition: color 200ms; /* na 0.2 sec weer kleur */
}

.main-item-button.clicked .check-icon {
  animation: check 300ms 2000ms forwards;
}

/* button animatie */
@keyframes spin {
  80% {
    border: 2px solid transparent; /* border onzichbaar maken */
    border-left: 2px solid #D2122E; /* alleen de linker border gebruiken waardoor het op een laad animatie lijkt */
  }
  100% {
    transform: rotate(720deg); /* draai 2 rondjes oftwel 720 graden */
    border: 2px solid #D2122E; /* kleur wordt teruggezet */
  }
}

/* de kleur van de checkmark */
@keyframes check {
  to {
    color: #D2122E;
  }
}

.main-item-button:hover {
  background-color: #D2122E;
}

.copy-icon {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.copy-icon img {
  filter: invert(1);
  width: 30px;
  height: 30px;
  margin: 10px;
}
.locked {
  background-color: #888; 
  cursor: not-allowed; 
  pointer-events: none; 
  opacity: 0.6;
}

.main-item-button.locked {
  background-color: #444;
  color: #999;
  border-color: #444; 
}

.lock-icon {
  margin-right: 5px; 
  color: #999; 
}

.gradient-gold {
    background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
}

.gradient-silver {
    background: linear-gradient(to bottom, #e0e0e0 27%, #f5f5f5 40%, #555555 78%);
}

.gradient-bronze {
    background: linear-gradient(to bottom, #cd7f32 27%, #edc9af 40%, #4b2e12 78%);
}

.gradient-platinum {
    background: linear-gradient(to bottom, #e5e4e2 27%, #f5f3f0 40%, #666666 78%);
}
.gradient-platinum, .gradient-gold, .gradient-silver, .gradient-bronze {
	    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
color: #fff;
 }